:root{
    --bg-color-1: hsl(157, 20%, 15%);
    --bg-color-2: hsl(157, 30%, 13.5%);
    --bg-color-3: hsl(157, 50%, 5%);
    --text-color-1: hsl(213, 20%, 90%);
    --text-color-2: hsl(0, 0%, 67%);
    --accent-color: hsl(288, 100%, 67%);
    --font-family: Nunito;
}
body{
    background-image: radial-gradient(circle, var(--bg-color-1) 20%, var(--bg-color-2) 80%, var(--bg-color-2) 100%);
    
    color: var(--text-color-1);
    font-family: var(--font-family);

    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.mainName{
    font-size: 7.5em;

    text-align: center;
    margin: 0;
    padding-top:15vmin;
}
#audioVisualizer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 95vmin;
    height: 75vmin;
    
    background: transparent;
}